.simplebutton {
    display: inline-box;
    width: 100px;
    text-align: center;
    background-color: rgba(200,200,200,0.7);
    border-radius: 4px;
    margin-left:20px;
    user-select: none;
    -o-user-select:none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
}

div {
    max-width:800px;
}

.simplebutton:hover {
    background-color: rgba(150,150,140,0.7);
}

.simplebutton:active {
    background-color: rgba(250,250,140,0.7);
}

.simple {
    box-shadow: 10px 10px 10px 10px rgba(200,200,220,30);
    margin: 30px;
}

.monosp{
    font-family: monospace;
}

textarea{
    font-family: sans-serif;
}
